.modal-container {
  background-color: #495e57;
  padding: 2rem;
  margin: 5rem 0;
}

.modal-container p {
  font-family: 'Markazi Text', serif;
  font-size: 2em;
  color: #edefee;
}

.modal-container button {
  font-family: 'Karla', sans-serif;
  padding: 15px 30px;
  font-size: 16pt;
  font-weight: bolder;
  background-color: #f4ce14;
  color: #333333;
  border: none;
}

.modal-container button:hover {
  cursor: pointer;
  background-color: #333333;
  color: #f4ce14;
  transition: 0.3s;
}

.modal-container button a {
  text-decoration: none;
  color: #333;
}

.modal-container button a:hover {
  text-decoration: none;
  color: #f4ce14;
}
